<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wqs</title>
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1506769820533&di=2864800d247fd3d22ebabcdf795937d6&imgtype=0&src=http%3A%2F%2Fwww.desktx.com%2Fd%2Ffile%2Fwallpaper%2Fscenery%2F20170323%2Fc8eb4b52d8b836e313a8e82c393036a7.jpg">
<div style="padding-left: 200px; padding-top: 100px">
    <div class="col-sm-8 col-md-8">
        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>DLL依赖图</h3>
                <p>展现DLL之间的依赖信息</p>
                <p>分图</p>
                <p>
                    <a href="dllgraph/wine202" class="btn btn-primary" role="button">wine</a>
                    <a href="dllgraph/win7ultimate" class="btn btn-default" role="button">win7ultimate</a>
                </p>
                <p>全图</p>
                <p>
                    <a href="dllgraph/all/wine202" class="btn btn-primary" role="button">wine</a>
                    <a href="dllgraph/all/win7ultimate" class="btn btn-default" role="button">win7ultimate</a>
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>DLL转发图</h3>
                <p>展现DLL之间的转发信息</p>
                <p>分图</p>
                <p>
                    <a href="dllforward/v_check_wine_dll_forward_order" class="btn btn-primary" role="button">wineforward</a>
                    <a href="dllforward/v_check_wine_dll_forward_order_basic_source" class="btn btn-default" role="button">wineforwardsource</a>
                    <a href="dllforward/v_check_wine_dll_forward_order_basic_target" class="btn btn-primary" role="button">wineforwardtarget</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8">
        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>DLL点图</h3>
                <p>展现DLL之间的依赖转发信息</p>
                <p>分图</p>
                <p>
                    <a href="dllpoint/wine202" class="btn btn-primary" role="button">wine</a>
                    <a href="dllpoint/win7ultimate" class="btn btn-default" role="button">win7ultimate</a>
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>DLLAPI调用图</h3>
                <p>展现DLLAPI之间的调用信息</p>
                <p>一级</p>
                <p>
                    <a href="dllapi/wine202/1" class="btn btn-primary" role="button">wine</a>
                    <a href="dllapi/win7ultimate/1" class="btn btn-default" role="button">win7ultimate</a>
                </p>
                <p>二级</p>
                <p>
                    <a href="dllapi/wine202/2" class="btn btn-primary" role="button">wine</a>
                    <a href="dllapi/win7ultimate/2" class="btn btn-default" role="button">win7ultimate</a>
                </p>
                <p>三级</p>
                <p>
                    <a href="dllapi/wine202/3" class="btn btn-primary" role="button">wine</a>
                    <a href="dllapi/win7ultimate/3" class="btn btn-default" role="button">win7ultimate</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>